header , header *{
    background-color: #3D8EB9;
    color: #FFF;
    padding: 4px  ;
}

.projectBox{
    height: 30%;
    margin-right: 3%;
    margin-left: 3%;
}
.projects{
    margin-top: 5px;
    padding-bottom: 5%;
}
h1 {
  font-family: elephant;
text-align: center;
}
header img{
	width: 200px; height: 160px;
}
figure{
	float: right;
}  




