header , header *{
      background-color: #3D8EB9;
      color: #FFF;
      padding: 4px  ;
}

.projectBox{
    height: 30%;
    margin-right: 3%;
    margin-left: 3%;
}
.projects{
    margin-top: 5px;
    padding-bottom: 5%;
}